<header class="home-header">
    <div class="container">
        <div class="outer">
            <div class="inner">
                <div class="name">Gregor Panič</div>
                <div class="title">Gameplay Programmer</div>
                <div class="nav">
                    <a class="btn btn-blue {% if page.title == 'Work' %}active{% endif %}" href="/" role="button">Work</a>
                    <a class="btn btn-blue {% if page.title == 'Projects' %}active{% endif %}" href="/projects.html" role="button">Projects</a>
                    <a class="btn btn-blue {% if page.title == 'About' %}active{% endif %}" href="/about.html" role="button">About</a>
                    <a class="btn btn-blue {% if page.title == 'Résumé' %}active{% endif %}" href="/resume.html" role="button">Résumé</a>
                    <a class="btn btn-blue {% if page.title == 'Code Samples' %}active{% endif %}" href="/code_samples.html" role="button">Code Samples</a>
                    <!--<a class="btn btn-blue" href="mailto:gregor.panic@gmail.com" role="button">Contact</a>-->
                </div>
            </div>
        </div>
    </div>
</header>

<!--
<header class="home-header-2">
    <div class="container">
        <div class="title">
            <div class="name">Gregor Panič</div>
            <div class="job">Gameplay Programmer</div>
        </div>
        <div class="nav">
            <a href="/" role="button">Work</a>
            <a href="/about.html" role="button">About</a>
            <a href="/resume.html" role="button">Resume</a>
            <a href="mailto:gregor.panic@gmail.com" role="button">Contact</a>
        </div>
    </div>
</header>
-->